.vscode/**
.vscode-test/**
.github/**
**/node_modules/**
src/**
out/**
!out/
!out/extension.js
**/*.ts
**/*.d.ts
**/*.map
**/*.tsbuildinfo
**/tsconfig*.json
**/.DS_Store
**/*.log
npm-debug.log*
yarn.lock
pnpm-lock.yaml
package-lock.json
*.vsix
.gitignore
vsc-extension-quickstart.md